{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Crash Course</title>
    <script src="{% static 'persist.Alpine.min.js' %}" defer></script>
    <script src="{% static 'eval.Alpine.min.js' %}" defer></script>
    <script src="{% static 'resize.Alpine.min.js' %}" defer></script>
    <script src="{% static 'server.min.js' %}"></script>
    <script src="{% static 'client.min.js' %}" defer></script>
    <script src="{% static '3.4.5.js.gz' %}"></script>
    <script src="{% static 'index.js' %}"></script>
    <style>
        [x-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>